alembic==1.5.8
appdirs==1.4.4
certifi==2020.12.5
cffi==1.14.5
click==7.1.2
cryptography==2.8
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-Login==0.3.2
Flask-Migrate==2.7.0
Flask-SQLAlchemy==2.5.1
greenlet==1.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.1.4
MarkupSafe==1.1.1
marshmallow==3.11.1
pipenv==2020.11.15
pycparser==2.20
PyJWT==2.0.1
